@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #788488;
    position: relative;
    width: 100vw;
    height: 100vh;
}

section {
    max-width: 700px;
    height: 200px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 10px;
}